snippet NOTE note or info
	> [!NOTE]
	> $0

snippet TIP
	> [!TIP]
	> $0

snippet IMPORTANT
	> [!IMPORTANT]
	> $0

snippet WARNING
	> [!WARNING]
	> $0

snippet CAUTION
	> [!CAUTION]
	> $0

snippet mermeid flow chart by mermaid.js
	```mermaid
	graph TD

	$0
	```

