[Unit]
Description=kmonad keyboard config (%I)

[Service]
Restart=always
RestartSec=3
# ExecStart=/usr/bin/kmonad ${XDG_CONFIG_HOME}/kmonad/.%i.kbd -ldebug
# ExecStart=/usr/bin/kmonad %E/kmonad/.%i.kbd -linfo
ExecStart=%h/config/keymap/kmonad/start.sh
Nice=-20

[Install]
WantedBy=default.target
