snippet Logger "logger" b
_logger = logging.getLogger(__name__)
endsnippet

global !main
if __name__ == "__main__" and "__file__" in globals():
	
endglobal

snippet ifmain "main" b
`!main
endsnippet

snippet main "main" b
`!main
endsnippet

snippet plotly "Plot with Plotly" b
import plotly.express as px
fig = px.line(${1:df or x=[], y=[] or y=[[], []]})
fig.show()
endsnippet

snippet debug "Start debugger" b
import pdb; pdb.set_trace()
endsnippet
