snippet getopts "Parse arguments" b
while getopts '${1:Options like f:h}' ARG; do
	case $ARG in
	${2:})
		FILE=$OPTARG
		;;
	h|\?)
		help()
		;;
	esac
done
shift $(( OPTIND - 1 ))
endsnippet

snippet trap "Set trap on any exit" b
trap "${1:command}" HUP INT QUIT TERM EXIT
endsnippet

snippet trap "kill all child processes on exit" b
trap "kill 0; wait; exit 0" HUP INT QUIT TERM EXIT
endsnippet

snippet git "git root directory" b
git rev-parse --show-toplevel
endsnippet

