snippet plug "Plug Install" b
Plug '${1:github_path}'
endsnippet

snippet Plug "Plug Install" b
Plug '${1:github_path}'
endsnippet

snippet augroup "Auto Group" b
augroup ${1:group_name}
	autocmd!
	autocmd ${2:event} ${3:file_type} ${4:command}
augroup END
endsnippet

